spring:
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration
      - org.springframework.boot.autoconfigure.security.servlet.UserDetailsServiceAutoConfiguration
  springdoc:
    api-docs:
      path: /v3/api-docs
    swagger-ui:
      path: /swagger-ui.html
      tags-sorter: alpha
      operations-sorter: alpha
    packages-to-scan: com.example.controller
    paths-to-match: /api/**

  docker:
    compose:
      enabled: false

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: true

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost/subBike?setUnicode=true&characterEncoding=utf8&useAffectedRows=true
    username: root
    password: Jnh@9372

  server:
    address: 0.0.0.0  # 绑定所有网络接口，允许外部访问
    port: 10086       # 确保端口与你的应用一致（如果之前配置过端口，保持不变）

  devtools:
    restart:
      enabled: true                    # 启用自动重启
      additional-paths: src/main/java  # 监控的路径
      exclude: static/**,public/**     # 排除不需要重启的路径
    livereload:
      enabled: true                    # 启用LiveReload
      port: 35729                      # LiveReload端口
  freemarker:
    cache: false                       # 禁用模板缓存
  thymeleaf:
    cache: false                       # 禁用Thymeleaf缓存


mybatis:
  type-aliases-package: com.subBike.server.entity
  mapper-locations: classpath:mapper/*.xml

server:
  port: 10086
